In [1]:
#to import labrary
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('countries.csv')
df

          country  year  population
0     Afghanistan  1952     8425333
1     Afghanistan  1957     9240934
2     Afghanistan  1962    10267083
3     Afghanistan  1967    11537966
4     Afghanistan  1972    13079460
...           ...   ...         ...
1699     Zimbabwe  1987     9216418
1700     Zimbabwe  1992    10704340
1701     Zimbabwe  1997    11404948
1702     Zimbabwe  2002    11926563
1703     Zimbabwe  2007    12311143

[1704 rows x 3 columns]

In [3]:
df.head(10)

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460
5  Afghanistan  1977    14880372
6  Afghanistan  1982    12881816
7  Afghanistan  1987    13867957
8  Afghanistan  1992    16317921
9  Afghanistan  1997    22227415

In [4]:
df.values

array([['Afghanistan', 1952, 8425333],
       ['Afghanistan', 1957, 9240934],
       ['Afghanistan', 1962, 10267083],
       ...,
       ['Zimbabwe', 1997, 11404948],
       ['Zimbabwe', 2002, 11926563],
       ['Zimbabwe', 2007, 12311143]], dtype=object)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
dtypes: int64(2), object(1)
memory usage: 40.1+ KB

In [6]:
df.shape

(1704, 3)

In [7]:
df.isnull().sum()

country       0
year          0
population    0
dtype: int64

In [8]:
df.dtypes

country       object
year           int64
population     int64
dtype: object

In [ ]:
som=df[df['country']=='Somalia']
som

In [ ]:
per=df.country.value_counts(normalize=True)*100
per.plot(kind='pie', autopct='%1.2f%%')

In [11]:
df.describe()

             year    population
count  1704.00000  1.704000e+03
mean   1979.50000  2.960121e+07
std      17.26533  1.061579e+08
min    1952.00000  6.001100e+04
25%    1965.75000  2.793664e+06
50%    1979.50000  7.023596e+06
75%    1993.25000  1.958522e+07
max    2007.00000  1.318683e+09

In [ ]:
data=[100,200,300,400]
label=['somalia','kenya','djabout','ethopia']
explode=[0.1,0,0,0]
color=['g','m','y','b']
plt.pie(data, explode=explode, colors=color, autopct='%1.2f%%' ,labels=label)
plt.show()

In [ ]:
sns.set_style("whitegrid")
plt.plot(som.year,som.population, 'm', marker='*', lw=1)
plt.title('Pupolution of Somalia since 1950')
plt.xlabel("year")
plt.ylabel('population')

In [ ]:
df[['year']]

In [ ]:
k=df[df['country']=='Kenya']
k

In [ ]:
sns.set_style("whitegrid")
plt.plot(som.year, som.population,'g', marker="*", lw=1, label="Somalia")
plt.plot(k.year, k.population,'r', marker="*", lw=1, label="Kenya")
plt.title("Population since 1952")
plt.xlabel("year")
plt.ylabel("Population in (Million)")
plt.legend()

In [ ]:
sns.set_style('whitegrid')
plt.plot(k.year,k.population, 'y', marker='*', lw=1, label="Kenya")
plt.plot(som.year, som.population, 'b', marker='*', lw=1, label="Somalia")
plt.title("Population since 1952")
plt.xlabel("year")
plt.ylabel("Population in (Million)")
plt.legend()

In [ ]:
percent = data.sex.value_counts(normalize=True) * 100
percent.plot(kind='bar')
plt.show()

In [ ]:
data = sns.load_dataset('tips')
data

In [ ]:
smok=data[data['sex']=='Male']
smok

In [ ]:
data[['sex']]

In [ ]:
data[['smoker']]

In [ ]:
data.sex.value_counts(normalize=True)*100

In [ ]:
data.shape

In [ ]:
percent = data.sex.value_counts(normalize=True) * 100
percent.plot(kind='pie', autopct='%1.2F%%')
plt.show()

In [ ]:
smoker=data.smoker.value_counts()
smoker

In [ ]:
smoker.plot(kind='pie', autopct='%1.2f%%')

In [ ]:
data.groupby('sex')['smoker'].value_counts()

In [ ]:
sm=data.groupby('sex')['smoker'].value_counts()
sm.unstack()

In [ ]:
sm.unstack().plot(kind='bar')

In [ ]:

sm.plot(kind='pie', autopct='%1.2f%%')